/* General Styles */

body {
    color: #1B3848;
    font-family:"Museo Slab", Georgia, 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #fff, #9baab3 );
    min-height: 100vh; 
}
  
  .container {
    width: 40%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #1B3848;
    box-shadow: 0 0 4px #f9ad3b;
    text-align: center;
  }

  
.container h1 {
    color: #1B3848; 
  }
  

  .container .weather-info {
    color: #1B3848; 
  }
  
  
  button {
    padding: 8px 16px;
    background-color: #1B3848;
    color: #f9ad3b;
    border: 2px solid #f9ad3b; /* Specify the border style, width, and color */
    border-radius: 2px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #f9ad3b;
    border: #5dabd5 2px;
    color: #1B3848;
    border: 2px solid #1B3848; 
  }
  
  .toggle {
    margin-top: 20px;
  }
  
  /* Weather Info Styles */
  
  .weather-info {
    margin-top: 20px;
    text-align: center;
  }
  
  #weatherInfo h2 {
    margin-top: 0;
  }
  
  /* Forecast Styles */

.forecast {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .forecast h2 {
    width: 100%;
    margin-top: 20px;
    text-align: center; /* Centering the text */
    color: #1B3848;
  }
  
  
  .forecast-card {
    width: 30%;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .forecast-card h3 {
    margin-top: 0;
  }
  
  /* Toggle Styles */
  
  .toggle label {
    font-weight: bold;
    margin-right: 5px;
  }
  
  #toggleBtn {
    cursor: pointer;
  }
  
  #zipInput {
    color: #1B3848; 
    border: 2px solid #1B3848; 
  }
  
